---
import Navbar from "../components/Navbar.astro";
---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>About Craig</title>
  </head>
  <body>
    <Navbar />
    <div>
      <h1>Craig Wagner</h1>
    </div>
    <main>
      <p>
        I am a software engineer who is deeply curious about anything and everything. In my time studying and teaching philosophy at both the undergraduate and graduate levels, during which I regularly dealt with abstract concepts and thought through complex issues, I used my passion for learning to hone my analytical and logical thinking skills.
      </p>
      <p>
        Despite my love for philosophy, I decided that I didn't want to seek a career in teaching it. So, I turned my attention to software engineering. This is a good fit for me because I have always been interested in computing to some degree and I enjoy dealing with the kinds of complex, abstract concepts that are inherent to computer science. I see a career as a developer as a continual learning experience, which is incredibly appealing to me and my curious nature, and I bring a unique perspective from which problems can be viewed and solutions generated.
      </p>
      <p>
        Even though I decided to steer away from teaching philosophy, I still want to involve myself with education. Thus, I want to use my unique background and technical skills, some newly acquired during my time at General Assembly and some from my natural aptitude for computers, to facilitate a better educational experience for students and/or teachers through technology.
      </p>

      <h2>My Educational Background:</h2>
      <p>
        The philosophy which interests me is that which connects abstract concepts to the lived experiences of real people, rather than the insular types of philosophy that don't engage with the world as it is. I am currently in the process of completing my thesis, where I am arguing that learning foreign languages should be construed of as a political activity, in order to complete the requirements for a Master of Arts in philosophy from Oklahoma State University. My coursework and personal studies have consisted of a wide array of topics, including: formal logic, differential equations, modern physics, philosophy of mathematics, postmodernism, contemporary continental philosophy, 19th and 20th century European philosophy, and Critical Theory.
      </p>

      <p>
        I am always in the process of improving my German, Spanish, and Japanese skills.
      </p>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 18px;
		line-height: 1.6;
    background-color: #2C3531;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
