---
import Navbar from "../components/Navbar.astro";

---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Craig Wagner</title>
  </head>
  <body>
    <Navbar />
    <div>
      <h1>Craig Wagner</h1>
    </div>
    <main>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit iste quam totam, consequatur illum mollitia eaque inventore! Quo, autem repellat deserunt necessitatibus temporibus inventore esse perspiciatis, voluptas dolores iure animi.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error omnis quo ipsam? Distinctio recusandae ipsam assumenda voluptatibus, id officia architecto expedita suscipit. Odit culpa voluptatum, soluta impedit animi dolor in.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minima magnam fugit veniam minus ipsa sed, suscipit sint quos, error delectus ullam maiores perspiciatis officia dolore rerum laudantium, incidunt reprehenderit.</p>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 18px;
		line-height: 1.6;
    background-color: #2C3531;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
