---
import Navbar from "../components/Navbar.astro";

---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Craig Wagner</title>
  </head>
  <body>
    <Navbar />
    <h1>Craig Wagner</h1>
    <div class='subheader-content'>
      <img src="/Headshot.jpg" alt="Craig Wagner" class='headshot-photo' />
      <div class='links-container'>
        <a href="https://github.com/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#D1E8E2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github">
            <path d="M9 19c-4.418 1.155-4.418-2.577-6-3m12 0c-1.582.423-1.582 4.155-6 3m0 0c-3.866-1.033-6-4.155-6-9a6 6 0 0 1 12 0c0 4.155-2.134 7.967-6 9zm0 0v2m0-2c3.866-1.033 6-4.155 6-9a6 6 0 0 0-12 0c0 4.155 2.134 7.967 6 9z"></path>
          </svg>
        </a>

      </div>
    </div>
    <main>
      <p>
        I am a software engineer with a background in studying philosophy at both the undergraduate and graduate levels. As a lifelong learner, I want to use my unique background, from which I have developed a firm grasp of logical principles, and my natural aptitude for computers to enhance the educational opportunities of others. I am passionate about improving education for everyone who wants to increase their knowledge and hone their intellectual capabilities.
      </p>
      <h2>My Skills:</h2>
      <ul>
        <li>
          <strong>Languages/Frameworks:</strong> React, JavaScript/TypeScript, HTML, CSS, Express, Tailwind, NodeJS, MongoDB, Astro
        </li>
        <li>
          <strong>Tools:</strong> CLI, VSCode, Git and GitHub, MongoDB Atlas, Postman, Jira, Netlify, Zoom, Microsoft Office
        </li>
        <li>
          <strong>Interests and Hobbies:</strong> Philosophy, Language Learning, Reading, Soccer, Fitness, PC Building
        </li>
      </ul>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 20px;
		line-height: 1.6;
    background-color: #2C3531;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    margin-bottom: 1em;
	}

  h2 {
    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: .5em;
  }

  .subheader-content {
    display: flex;
    justify-content: left;
    margin-bottom: 1em;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .headshot-photo {
    justify-self: start;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
  }
</style>
