---
import Navbar from "../components/Navbar.astro";

---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Craig Wagner</title>
  </head>
  <body>
    <Navbar />
    <h1>Craig Wagner</h1>
    <div class='subheader-content'>
      <img src="/Headshot.jpg" alt="Craig Wagner" class='headshot-photo' />
    </div>
    <main>
      <p>
        &emsp;I am a software engineer with a background in studying philosophy at both the undergraduate and graduate levels. As a lifelong learner, I want to use my unique background, from which I have developed a firm grasp of logical principles, and my natural aptitude for computers to enhance the lives of others. I am particularly passionate about improving education for everyone who wants to increase their knowledge as well as hone their intellectual capabilities, and would love to do so through technology.
      </p>
      <h2>My Skills:</h2>
      <ul>
        <li>
          <strong>Languages/Frameworks:</strong> React, JavaScript/TypeScript, HTML, CSS, Express, Tailwind, NodeJS, MongoDB, Astro
        </li>
        <li>
          <strong>Tools:</strong> CLI, VSCode, Git and GitHub, MongoDB Atlas, Postman, Jira, Netlify, Zoom, Microsoft Office
        </li>
        <li>
          <strong>Interests and Hobbies:</strong> Philosophy, Language Learning, Reading, Soccer, Fitness, PC Building
        </li>
      </ul>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 20px;
		line-height: 1.6;
    background-color: #2C3531;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    margin-bottom: .5em;
	}

  h2 {
    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    margin-bottom: .5em;
  }

  .headshot-photo {
    justify-self: start;
    margin: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 1.5em;
  }
</style>
