---
import Navbar from "../components/Navbar.astro";

---
<head>

</head>
<html>
  <Navbar />
  <h1>Craig Wagner</h1>
</html>

<style>
  html {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 16px;
		line-height: 1.6;
    background-color: #2C3531;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
