---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";

---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Craig's Projects</title>
  </head>
  <body>
    <Navbar />
    <div>
      <h1>Projects</h1>
    </div>
    <main>
      <div class="project-container">
        <div class="pictures-container">
          <Image src="/blue-wave-screenshot.png" alt="Craig Wagner" width={300} height={100} />
        </div>
        <div class="project-description">
          <a href="https://www.bluewaveamerica.com/"><h2>Blue Wave America</h2></a>
          <a href="https://github.com/craigbwagner/blue-wave-america">GitHub</a>
          <p>
            &emsp;
          </p>
      </div>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #D1E8E2;
		font-size: 18px;
		line-height: 1.6;
    background-color: #2C3531;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    margin-bottom: .5em;
	}

  h2 {
    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
    margin-bottom: .5em;
  }

  p {
    margin-bottom: 1em;
  }

  a {
    color: #D9B08C;
    text-decoration: none;
  }

  a:hover {
    color: #FFCB9A;
  }

  .project-container {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
  }
</style>
