---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";

---
<html lang='en'>
  <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Portfolio site for Craig Wagner" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Craig's Projects</title>
  </head>
  <body>
    <Navbar />
    <div>
      <h1>Projects</h1>
    </div>
    <main>
      <div class="project-container">
        <div class="pictures-container">
          <Image src="/blue-wave-screenshot.png" alt="Blue Wave Site Screenshot" width={700} height={300} />
        </div>
        <div class="project-description">
          <a href="https://www.bluewaveamerica.com/"><h2>Blue Wave America</h2></a>
          <p>
            Built using Astro and Tailwind, Blue Wave America is a static website that provides information on the Super PAC with the same name. Still a work in progress, the site will eventually contain information on the organization's activity and ways to get involved in Michigan, North Carolina, Pennsylvania, and Wisconsin. The pictured navbar is disabled until content is provided to populate the additional pages, but the site is fully responsive. (Note: I do not endorse the organization or its activities)
          </p>
          <a href="https://github.com/craigbwagner/blue-wave-america" class="github-link">GitHub</a>
      </div>
    </main>
  </body>
</html>

<style>
  body {
		margin: auto;
		padding: 1rem;
		width: 80%;
    max-width: 1500px;
		color: #D1E8E2;
		font-size: 18px;
		line-height: 1.6;
    background-color: #2C3531;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
    margin-bottom: 1em;
	}

  h2 {
    font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
    margin-bottom: .5em;
    text-align: center;
  }

  p {
    margin-bottom: 1em;
  }

  a {
    color: #D9B08C;
    text-decoration: none;
  }

  a:hover {
    color: #FFCB9A;
  }

  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
  }

  .pictures-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .github-link {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 1150px) {
    body {
      width: 90%;
    }

    .project-container {
      display: flex;
      flex-direction: column;
      gap: 2em;
    }
  }
</style>
