---

---
<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenuLinks = document.getElementById('mobile-menu-links');
  mobileMenuButton.addEventListener('click', () => {
    mobileMenuLinks.classList.toggle('hidden');
  })

</script>

<nav>
  <div class="max-w-full mx-auto px-2 my-6 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-center">
      <!-- Mobile menu button-->
      <div class="absolute left-0 flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 my-4 rounded-md text-gray-700 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" id='mobile-menu-button' aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <!-- Icon when menu is open. -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Desktop Navbar -->
      <div class="flex-1 flex items-center justify-evenly sm:items-stretch sm:justify-center">
        <div class="hidden sm:block sm:ml-6">
          <div class="flex justify-evenly w-full space-x-4 sm:space-x-2">
            <a href="/" class="text-gray-700 hover:text-sky-500 px-3 py-2 rounded-md text-med text-xl">Home</a>
            <a href="/about-us" class="text-gray-700 hover:text-sky-500 px-3 py-2 rounded-md text-med text-xl">About Me</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 py-1 hidden" id='mobile-menu-links'>
      <a href="/" class="text-gray-700 hover:bg-gray-700 hover:text-white block px-3 py-1.5 rounded-md text-base font-medium">Home</a>
      <a href="/about-us" class="text-gray-700 hover:bg-gray-700 hover:text-white block px-3 py-1.5 rounded-md text-base font-medium">About Us</a>
      <div class="relative">
      </div>
    </div>
  </div>
</nav>



